body {
	margin: 0;
	background-color: lightgrey;
}

.navbar {
	list-style-type: none;
	position: fixed;
	background-color: grey;
	height: 50px;
	width: 100%;
	top: 0;
	padding: 0;
	margin: 0;
}

.navbar * {
	display: inline-block;
	text-decoration: none;
	padding: 17px 5px;
	color: white;
}

.navbar *:hover {
	display: inline-block;
	text-decoration: none;
	padding: 17px 5px;
	color: black;
}

.home {
	width: 100vw;
	height: 100vh;
	padding-top: 50px;
	color: black;
}

.searching {
	width: 100vw;
	height: 100vh;
	padding-top: 50px;
	color: black;
}

.sorting {
	position: absolute;
	left: 15%;
	right: 15%;
	/* height: 100vh; */
	top: 15vh;
	color: black;
	background-color: white;
	border-radius: 10px;
	padding: 0 5px;
	/* margin-top: 100px; */
}

.bars {
	display: inline-block;
	margin: 0px 1px;
	width: 6px;
	background-color: blue;
}

.about {
	width: 100vw;
	height: 100vh;
	padding-top: 50px;
	color: black;
}

.tree {
	width: 100vw;
	height: 100vh;
	padding-top: 50px;
	color: black;
}

.sorting-choice {
	margin-bottom: 30px;
}

.sorting-choice select {
	background-color: skyblue;
	color: darkblue;
	border-radius: 5px;
	margin: 0 5px;
}

.sorting-choice select:disabled {
	background-color: red;
	color: white;
	border-radius: 5px;
	margin: 0 5px;
}

.select-selected {
	background-color: skyblue;
}

#sort-button {
	transition-duration: 0.3s;
	margin: 5px;
	border-radius: 5px;
	border: 1px solid green;
	background-color: green;
	color: white;
}

#sort-button:disabled {
	transition-duration: 0.3s;
	margin: 5px;
	border-radius: 5px;
	border: 1px solid red;
	background-color: red;
	color: white;
}

#sort-button:disabled:hover {
	margin: 5px;
	border-radius: 5px;
	border: 1px solid red;
	background-color: red;
	color: white;
}

#sort-button:hover {
	margin: 5px;
	border-radius: 5px;
	border: 1px solid greenyellow;
	background-color: greenyellow;
	color: black;
}

#new-array-button {
	transition-duration: 0.3s;
	margin: 5px;
	border-radius: 5px;
	border: 1px solid green;
	background-color: green;
	color: white;
}

#new-array-button:disabled {
	transition-duration: 0.3s;
	margin: 5px;
	border-radius: 5px;
	border: 1px solid red;
	background-color: red;
	color: white;
}

#new-array-button:hover {
	margin: 5px;
	border-radius: 5px;
	border: 1px solid greenyellow;
	background-color: greenyellow;
	color: black;
}

#new-array-button:disabled:hover {
	transition-duration: 0.3s;
	margin: 5px;
	border-radius: 5px;
	border: 1px solid red;
	background-color: red;
	color: white;
}
