body {
	margin: 0;
	background-color: lightgrey;
}

.navbar {
	list-style-type: none;
	position: fixed;
	background-color: grey;
	height: 50px;
	width: 100%;
	top: 0;
	padding: 0;
	margin: 0;
}

.navbar * {
	display: inline-block;
	text-decoration: none;
	padding: 17px 5px;
	color: white;
}

.navbar *:hover {
	display: inline-block;
	text-decoration: none;
	padding: 17px 5px;
	color: black;
}

.home {
	width: 100vw;
	height: 100vh;
	padding-top: 50px;
	color: black;
}

h1 {
	text-align: center;
}
.container {
	position: absolute;
	width: 50vw;
	height: 50vh;
	left: 25%;

	/* 	background-color: white;
	border-radius: 10px; */
}

.link-button {
	margin: 3%;
	width: 250px;
	height: 150px;
	font-size: 24px;
	border-radius: 10px;
	background-color: green;
}

.link-button:hover {
	margin: 3%;
	width: 250px;
	height: 150px;
	font-size: 24px;
	border-radius: 10px;
	background-color: rgb(72, 255, 56);
	color: white;
}

.searching {
	width: 100vw;
	height: 100vh;
	padding-top: 50px;
	color: black;
}

.sorting {
	position: relative;
	/* left: 10%;
	right: 10%; */
	margin: 10%;
	width: 1000px;
	/* height: 100vh; */
	/* top: 15vh; */
	color: black;
	background-color: white;
	border-radius: 10px;
	padding: 0 5px;
	/* margin-top: 100px; */
}

.bars {
	display: inline-block;
	margin: 0px 1px;
	width: 8px;
	background-color: blue;
}

.about {
	width: 100vw;
	height: 100vh;
	padding-top: 50px;
	color: black;
}

.tree {
	width: 100vw;
	height: 100vh;
	padding-top: 50px;
	color: black;
}

.sorting-choice {
	margin-top: 10px;
	margin-bottom: 30px;
	border-radius: 5px;
	background-color: lightyellow;
}

.sorting-choice select {
	background-color: skyblue;
	color: darkblue;
	border-radius: 5px;
	margin: 0 5px;
}

.sorting-choice select:disabled {
	background-color: red;
	color: white;
	border-radius: 5px;
	margin: 0 5px;
}

.select-selected {
	background-color: skyblue;
}

#sort-button {
	transition-duration: 0.3s;
	margin: 5px;
	border-radius: 5px;
	border: 1px solid green;
	background-color: green;
	color: white;
}

#sort-button:disabled {
	transition-duration: 0.3s;
	margin: 5px;
	border-radius: 5px;
	border: 1px solid red;
	background-color: red;
	color: white;
}

#sort-button:disabled:hover {
	margin: 5px;
	border-radius: 5px;
	border: 1px solid red;
	background-color: red;
	color: white;
}

#sort-button:hover {
	margin: 5px;
	border-radius: 5px;
	border: 1px solid greenyellow;
	background-color: greenyellow;
	color: black;
}

#new-array-button {
	transition-duration: 0.3s;
	margin: 5px;
	border-radius: 5px;
	border: 1px solid green;
	background-color: green;
	color: white;
}

#new-array-button:disabled {
	transition-duration: 0.3s;
	margin: 5px;
	border-radius: 5px;
	border: 1px solid red;
	background-color: red;
	color: white;
}

#new-array-button:hover {
	margin: 5px;
	border-radius: 5px;
	border: 1px solid greenyellow;
	background-color: greenyellow;
	color: black;
}

#new-array-button:disabled:hover {
	transition-duration: 0.3s;
	margin: 5px;
	border-radius: 5px;
	border: 1px solid red;
	background-color: red;
	color: white;
}

.sort-speed {
	display: inline-block;
	font-size: 16px;
}
.sort-slider {
	margin: 0px 5px;
	appearance: none;
	-webkit-appearance: none;
	width: 100px;
	height: 6px;
	background: grey;
	opacity: 0.8;
	-webkit-transition: 0.2s;
	transition: 0.2;
}

.sort-slider {
	margin: 0px 5px;
	appearance: none;
	-webkit-appearance: none;
	width: 100px;
	height: 6px;
	background: grey;
	opacity: 0.8;
	-webkit-transition: 0.2s;
	transition: 0.2;
}

.sort-slider:disabled {
	margin: 0px 5px;
	appearance: none;
	-webkit-appearance: none;
	width: 100px;
	height: 6px;
	background: red;
	opacity: 0.8;
	-webkit-transition: 0.2s;
	transition: 0.2;
}

.sort-slider:hover {
	opacity: 1;
}

.sort-slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 20px;
	height: 20px;
	border-radius: 10px;
	background: green; /* #4caf50 */
	cursor: pointer;
}

#reset-all {
	transition-duration: 0.3s;
	margin: 5px;
	border-radius: 5px;
	border: 1px solid green;
	background-color: green;
	color: white;
}

#reset-all:hover {
	margin: 5px;
	border-radius: 5px;
	border: 1px solid greenyellow;
	background-color: greenyellow;
	color: black;
}

.custom-form {
	display: inline;
}

.input-class {
	display: inline-block;
}

#custom-input {
	border-radius: 5px;
	border-style: solid;
	border-color: green;
	border: 2px 2px 2px 2px;
	padding: 1px 3px;
	color: black;
	width: 200px;
	padding-right: 35px;
}

#custom-input:disabled {
	border-radius: 5px;
	border-style: solid;
	border-color: red;
	border: 2px 2px 2px 2px;
	padding: 1px 3px;
	color: black;
	width: 200px;
	padding-right: 35px;
}

#custom-input:focus {
	border-radius: 5px;
	border-style: solid;
	border-color: green;
	border: 2px 2px 2px 2px;
	color: black;
	width: 200px;
	padding-right: 35px;
}

#custom-input:disabled:focus {
	border-radius: 5px;
	border-style: solid;
	border-color: red;
	border: 2px 2px 2px 2px;
	color: black;
	width: 200px;
	padding-right: 35px;
}

#submit-input {
	transition-duration: 0.3s;
	margin-left: -38px;
	border-radius: 5px;
	border: 2px solid green;
	background-color: green;
	color: white;
}

#submit-input:disabled {
	transition-duration: 0.3s;
	margin-left: -38px;
	border-radius: 5px;
	border: 2px solid red;
	background-color: red;
	color: white;
}

#submit-input:hover {
	margin-left: -38px;
	border-radius: 5px;
	border: 2px solid green;
	background-color: greenyellow;
	color: black;
}

#submit-input:disabled:hover {
	transition-duration: 0.3s;
	margin-left: -38px;
	border-radius: 5px;
	border: 2px solid red;
	background-color: red;
	color: white;
}

.warning {
	background-color: red;
	color: white;
	font-size: 16px;
	padding: 1px 2px;
	margin: 1px 3px;
	border-radius: 5px;
	visibility: hidden;
}

img {
	position: absolute;
	left: 25%;
	top: 25%;
}

#git-link {
	position: absolute;
	left: 15%;
	top: 20%;
}

#git-link:hover {
	position: absolute;
	left: 15%;
	top: 20%;
	filter: brightness(200%);
}
